*{
    /*background: rgb(248, 242, 200);*/
}

body {
    background-image: url(../imagenes/fondo_casa_movil.jpg);
}

.orange-background {
    background: rgb(248, 146, 65);
}

.orange-boton {
    background: rgb(253, 93, 9);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 40%;
    height: 30%;
    object-fit: cover;
    margin: 2% 2%;
}


.nav__menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 1vh 0;
}

.nav__menu-opcion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 35vw;
    color: rgb(255, 255, 255);
    font-size: 4vw;
    margin-right: 3vw;
    margin-bottom: 1vh;
    border-radius: 10px;
}

.main-menu {
    margin: 5vh 10vw 3vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border: 5px solid rgb(253, 93, 9);
    border-radius: 15px;
}

.main-menu i{
    margin-top: 2.5vh 0;
    font-size: 8vw;
}

.main-menu__button {
    text-align: center;
    border: none;
    color: rgb(255, 255, 255);
    width: 60%;
    margin: 3vh 0;
    padding: 0.5em;
    font-size: 5vw;
    border-radius: 10px;
}

.nav__menu-opcion:hover {
    background: rgb(104, 163, 22);
}

.main-menu__button:hover {
    background-color: rgb(104, 163, 22);
}

.footer__desktop {
    display: none;
}

.footer__tablet {
    display: none;
}

.footer__mobile {
    font-size: 5vw;
    text-align: center;
}

/*FASE 0*/

.fase0-header {
    display: flex;
    justify-content: center;
}

.fase0-header__menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}

.fase0-header__menu i {
    color: rgb(255, 255, 255);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    height: 8vh;
    width: 16vw;
}

.fase0-header__menu-opcion {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    height: 8vh;
    width: 30vw;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.fase0-header__menu-opcion:hover {
    background: rgb(104, 163, 22);
}

.fase0-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh 10vw 0 10vw;
    background: rgba(255, 255, 255, 0.5);
    border: 5px solid rgb(253, 93, 9);
    border-radius: 15px;
}

.fase0-main__boton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 48vw;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 6vw;
}

.fase0-main div {
    display: flex;
    align-items: center;
    margin: 4vh 0;
}

.fase0-main div i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 15vw;
    font-size: 9vw;
}

.fase0-main__boton:hover {
    background: rgb(104, 163, 22);
}

/*Mirror video*/
.mirror {
    transform: scaleX(-1);
    border: 6px solid red;
    border-radius: 8px;
    object-fit: cover;
    height: 80vh;
    width: 90vw;
}

/*Reconocimiento*/

.reconocimiento-main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1vh;
}

.reconocimiento-header {
    margin-bottom: 1vh;
}

.reconocimiento-header__menu {
    list-style-type: none;
    display: flex;
    height: 8vh;
}

.reconocimiento-header__menu-opcion {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 25vw;
    font-size: 4vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.reconocimiento-header__menu-opcion:hover{
    background: rgb(104, 163, 22);
}

.reconocimiento-header__menu li i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 5vh;
    align-items: center;
    font-size: 4vw;
}

.reconocimiento-header__menu li {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    margin: 0 1vw;
}

.botones-video__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones-video__boton{
    padding: 2vw;
    margin-right: 2vw;
    border-radius: 50%;
}

.botones-video__boton i{
    font-size: 8vw;
    color: rgb(255, 255, 255);
}



/*Pixelar el fondo al grabar*/
/*.pixelar {
    background: rgb(16, 15, 15);
}
*/

/*Fondo naranja*/
.fondo-body {
    /*background-image: url(../imagenes/telon.jpg);*/
    background-image: url(../imagenes/fondo_crayon.jpg);
}

/*Vocabulario*/
.categoria-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 3vh auto;
    border: 5px solid rgb(253, 93, 9);
    background: rgba(255, 255, 255, 0.5);
}

.categoria-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1.5vh 0;
    width: 90%;
    height: 35vh;
    background: rgb(255, 255, 255);
    border: 5px solid rgb(253, 93, 9);
    border-radius: 20px;
    flex-grow: 1;
}

.categoria-item__titulo {
    display: block;
    text-decoration: none;
    height: 20%;
    font-size: 4.5vw;
    border-bottom: 5px solid rgb(253, 93, 9);
    color: rgb(16, 15, 15);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.categoria-item__titulo:hover{
    background: rgb(104, 163, 22);
}

.categoria-item__media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
}

.categoria-item__media-imgVideo{
    width: 46%;
    height: 90%;
    border: 1px solid blue;
    object-fit: cover;
}

.agregar-categoria{
    height: 100%;
    width: 100%;
    font-size: 4vw;
    border-radius: 15px;
}

.agregar-categoria:hover{
    background: rgb(104, 163, 22);
}

/*Mostrar y ocultar video*/
.ocultar {
    display: none;
}
